In [1]:
def categorize_age(age):
    if age < 13:
        return "Child"
    elif 13 <= age < 18:
        return "Teen"
    else:
        return "Adult"

In [2]:
age_category = categorize_age(16)
print(age_category)

Teen

In [3]:
age_category = categorize_age(11)
print(age_category)

Child

In [4]:
age_category = categorize_age(30)
print(age_category)

Adult

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
even_numbers = []

In [12]:
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [13]:
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even_numbers = []   # reset

for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

even_numbers

[2, 4, 6, 8, 10]

In [1]:
stored_inputs = []

In [2]:
user_input = input("Enter a value (type 'exit' to stop): ")

Enter a value (type 'exit' to stop):  Apple

In [4]:
while user_input.lower() != "exit":
    user_input = input("Enter a value (type 'exit' to stop): ")
    stored_inputs.append(user_input)

In [5]:
# Output the stored inputs
print("Stored inputs:", stored_inputs)

Stored inputs: ['Orange', 'Grape', 'exit']

In [6]:
break_example = []
for num in range(1, 10):
    if num == 5:
        break  # Stops at 5
    break_example.append(num)
print(break_example)

[1, 2, 3, 4]

In [7]:
continue_example = []
for num in range(1, 10):
    if num == 5:
        continue  # Skips 5
    continue_example.append(num)

print(continue_example)

[1, 2, 3, 4, 6, 7, 8, 9]

In [9]:

for i in range(1, 4):  # Loop for rows (1 to 3)
    row = []  # Initialize an empty list for each row
    for j in range(1, 11):  # Loop for columns (1 to 10)
        row.append(i * j)  # Multiply and store the result
    multiplication_table[i] = row  # Store the row in the dictionary

# Output the multiplication table
print("Multiplication Table:")
for key, value in multiplication_table.items():
    print(f"{key}: {value}")

Multiplication Table:
1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
3: [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]